body{
  background: #1f2322
}
/* ______________nabar__________ */

body{
  margin: 0;
  padding: 0;
  background-color:#1c1c1c;
  font-size: 13px;
    font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Wix Madefor Text', sans-serif;
}
#navbar{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1c1c1c;

}
#nav{
  width: 90%;
  margin: auto;
  padding-top:20px ;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  font-size: 13px;
  border-bottom: 1px solid white;
}
#nav_search_box input{
  margin: 0;
  border: none;
  padding:10px;
  border-radius:16px 0px 0px 16px;
  height: 100%;
  width: 80%;
  background-color: #1c1c1c;
  color: aliceblue;
}
#nav_search_box input:focus{
border: none;
outline: none;
}
#nav_search_box button{
  margin-left: -4px;
  border: none;
  border-radius:0px 16px 16px 0px;
  height: 100%;
  width: 20%;
  background-color: #1c1c1c;
  color: aliceblue;
}
#nav_search_box{
  width: 25%;
  height: 30px;
  padding: 2px;
  border-radius: 50px;
border: 2px solid aliceblue;
}

#nav-mid{
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}

#nav-mid>div:first-child{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#nav-end{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#nav a{
text-decoration: none;
color: aliceblue;
}
#nav-end .profile{
  background-color: transparent;
  color: aliceblue;
  border: none;
}
#nav-end .profile:hover{
  cursor: pointer;
}
/* ________sub______nav */


#subnav{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  
  /* border: 1px solid red; */
  align-items: center;
}

#subnav div:last-child a{ 
  padding: 10px;
  text-decoration: none;
  color: rgb(167, 159, 159);
}
#subnav div:first-child{
  color: rgb(167, 159, 159);
}

#subnav div:first-child span{
  color: aliceblue;
}
#subnav div:first-child{
  width: 170px;
  display: flex;
 align-items: center;
}

#subnav div:first-child img{
  width: 22px;
  height: 22px;
  /* border: 1px solid pink; */
}


/* __________footer___________ */

#footer{
  /* background-color: pink; */
  /* border: 1px solid green; */
  width: 90%;
  margin: auto;
  color: aliceblue;
  margin-top: 90px;
}
#footer a{
 text-decoration: none;
 color: aliceblue;
}
.Social_media{
  width: 15%;
  display: flex;
 justify-content: space-around;
 flex-direction: column;
}
.Social_media div{
  display: flex;
 /* align-items: center; */
}

.Social_media div:last-child{
  width: 80%;
  display: flex;
  color: aliceblue;
  justify-content: space-between;
}

.footer_top{
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}
.abouth{
  width: 65%;
 display: flex;
 justify-content: space-evenly;
}

.abouth div{
  display: flex;
  flex-direction: column;
}

.abouth div a{
  font-size: 94%;
  /* font-weight: 600; */
 
padding: 8px 0px;
}

.newsletter{
  width: 27%;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}
.newsletter div{
  margin-top: 20px;
  width: 80%;
  height: 80%;
/* border: 1px solid red; */
}

.newsletter div input{
  height: 40px;
  width: 70%;
  border-radius:10px 0px 0px 10px;
  background-color: #1c1c1c;
  border: 2px solid #747474;
  color: aliceblue;
  text-align: justify;
}
.newsletter div input:focus{
  outline: #747474;
  
}
.newsletter div input::placeholder{
  font-size: 17px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Wix Madefor Text', sans-serif;
}
.newsletter p{
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
    font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Wix Madefor Text', sans-serif;
  font-weight: 500;
  padding-right:30px ;
  line-height: 20px;
}
.newsletter #terms_con{
  text-decoration: underline;
}
.newsletter div button{
  width: 29%;
  height: 45px;
  padding-bottom: 4px;
  border: none;
  /* border: 2px dolid #747474; */
  border-radius: 0px 10px 10px 0px;
  margin-left: -10px;
  background-color: #747474;
  color: #1c1c1c;
  font-size: 16px;
}
.footer-bottom{
  padding-top:80px ;
  text-align: center;
  margin: auto;
 
}
/* ____________________- */
#containerWishList {
    height: auto;
    background-color: transparent;
    border-radius: 5px;
    padding: 2vh 1vw;
    width: 70%;
    margin: auto;
    margin-top: 6vh;
    color: black;
  }
  #containerWishList > h2 {
    font-size: 2.7vh;
    font-weight: bold;
  }
  /* sub Container to retain all data */
  #sub-container {
    margin-top: 3vh;
    height: auto;
    width: 100%;
  
    display: flex;
    gap: 1.66vw;
  }
  /* left con */
  #sub-left {
    width: 100%;
  
    height: auto;
  }
  
  /* Adding Bold to texts by below class */
  .boldTxt {
    font-weight: bold;
  }
  /* Heading fontsize  */
  .headinInDiv {
    font-size: 1.6vh;
  }
  /* Description in div */
  .descriptionInDiv {
    font-size: 1.6vh;
  }
  .sub-left-first {
    width: 100%;
  
    height: auto;
    padding: 2vh 1.4vw;
    border: 1.5px solid #dedede;
    border-radius: 8px;
    margin-bottom: 2vh;
  }
  
  /* #sub-container > div {
    border: 1px solid red;
  } */
  /* Card offers */
  .offers {
    margin-top: 0.6vh;
    width: 100%;
    height: 4.5vh;
    margin: 1vh 0;
    display: flex;
    gap: 0.4vw;
    align-items: center;
  }
  .offers > span > img {
    height: 4vh;
  }
  #seeDetailsBtn {
    border-radius: 10vh;
    color: white;
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
    width: 7.31vw;
    font-weight: bold;
    height: 3.52vh;
    font-size: 1.4vh;
  }
  .thirdTxt {
    font-size: 1.37vh;
    color: 666666;
  }
  /* Second Div */
  .sub-left-second {
    width: 100%;
    height: auto;
  
    /* background-color: black; */
    padding: 0 0.7vw;
    padding-bottom: 1.3vh;
  }
  .sub-left-second > h3 {
    height: 5vh;
    display: flex;
    align-items: center;
  
    font-size: 1.82vh;
    font-weight: bold;
  
    /* line-height: 2.82vh; */
  
    /* padding: 1.5vh; */
  }
  #red {
    height: auto;
    width: 100%;
    padding: 2vh 1vw;
    background-color: white;
  }
  
  #returnsWishListItems {
    /* border: 1px solid black; */
    display: flex;
    gap: 0.8vw;
  }
  /* #returnsWishListItems > span {
      border: 1px solid red;
    } */
  #returnsWishListItems > span > svg {
    height: 4vh;
  }
  #returnsWishListItems > span > p {
    margin-bottom: 0.6vh;
  }
  #returnsWishListItems > span > p,
  #returnsWishListItems > span > p > a {
    font-size: 1.6vh;
  }
  #redeemDivs {
    margin-top: 1vh;
    display: flex;
    gap: 1vw;
  }
  #redeemDivs > div {
    width: 50%;
    border: 2px solid #f6f6f8;
  }
  #redeemDivs > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.9vh;
    line-height: 2.3vh;
    flex-direction: column;
    font-size: 1.6vh;
  }
  #redeemDivs strong {
    font-weight: bold;
  }
  #headerLine {
    width: 100%;
    border: 1px solid #f6f6f8;
    margin: 2vh 0;
  }
  /* SUB RIGHT SECTION */
  #totalSection {
    width: 100%;
    height: auto;
    border: 1.5px solid #dedede;
    border-radius: 8px;
    padding: 1vw;
  }
  #totalSection > table > tbody > tr {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
  }
  #totalSection .totalFlex {
    display: flex;
    justify-content: space-between;
    font-size: 1.6vh;
    line-height: 2vh;
    color: #000000;
  }
  #totalSection .totalFlex > p {
    margin: 0.7vh 0;
  }
  #totalSection .totalFlex > p:last-child {
    font-weight: bold;
  }
  #totalSection > .headerLine2 {
    width: 100%;
    margin: 0.5vh 0;
    border: 1px solid #f6f6f8;
  }
  #totalSection .last {
    font-weight: bold;
    font-size: 1.81vh;
    margin-bottom: 1vh;
  }
  #paywithPaypalBtn > span > img {
    width: 5vw;
  }
  #totalSection > button {
    height: 5vh;
    width: 100%;
    border-radius: 10vh;
  }
  #checkout {
    background-color: #cf112c;
    color: white;
    font-weight: bold;
    font-size: 1.6vh;
    border: 0;
    margin-bottom: 1vh;
  }
  #checkout:hover {
    background-color: #e20308;
  }
  #paywithPaypalBtn {
    color: white;
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
    width: 7.31vw;
    font-weight: bold;
    height: 3.52vh;
    font-size: 1.6vh;
    gap: 1vw;
  }
  /* PROMOCODE */
  #promoCodeSection {
    margin-top: 1.6vh;
    height: auto;
    border: 1.5px solid #dedede;
    border-radius: 8px;
    padding: 1.5vh;
  }
  #promoCode {
    width: 100%;
    height: 4.5vh;
    text-indent: 1vw;
    font-size: 1.6vh;
    border: 1.5px solid #dedede;
  }
  #promoCode:focus {
    outline: none;
  }
  #submitCode {
    width: 100%;
    height: 5vh;
    border-radius: 10vh;
    background-color: #11cf67;
    color: white;
    font-weight: bold;
    font-size: 1.6vh;
    border: 0;
    margin-top: 1vh;
  }
  #row {
    display: flex;
    width: 100%;
    /* gap: 1vw; */
    margin: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    border-bottom: 1px solid aliceblue;
    background-color: #ffffff;
    box-shadow: #422F0B 0px 7px 30px 4px, #422F0B 0px 2px 16px 0px;
  }
  #row > div:nth-child(2) {
    width: 30vw;
  }
  #WishlistBtns {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding: 1vh;
  }
  #WishlistBtns > button {
    height: 5vh;
    background-color: #cf112c;
    border: 0;
    border-radius: 10vh;
    font-size: 1.61vh;
    font-weight: bold;
    color: aliceblue;
    width: 8.59vw;
    margin-right: 2vw;
    margin-top: 25px;
  }
  #WishlistBtns > button:hover {
    background-color: #e20308;
  }
  #removeFromWish {
    margin-top: 4vh;
    padding: 0.5vh;
    font-size: 14px;
color: rgb(195, 15, 15);
  }
  
  #row > * {
    padding: 1.5vh 0;
  }
  /* #row > div:nth-child(2) {
    flex-grow: 1;
  } */
  .WishlistImage {
    width: 60px;
    margin: 20px;
  }
  #secondDiv {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #secondDiv > div {
    line-height: 2vh;
  }
  #WishlistTitle {
    font-weight: bold;
  }
  .WishlistHover:hover {
    text-decoration: underline;
  }
  #thirdDiv {
    font-weight: bold;
    font-size: 1.8vh;
  }
  #btnForWishList {
    display: flex;
    gap: 0.5vw;
  }
  #btnForWishList > button {
    background-color: white;
    border: 0;
    font-size: 1.4vh;
    color: #136bea;
  }
  #btnForWishList > button:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  #qtyOptions {
    border: 0;
    background-color: white;
    border: 1px solid #dedede;
    font-size: 1.7vh;
  }
  #qtyOptions:focus {
    outline: none;
  }
  